@import 'tailwindcss';

:root {
	--bg: #e4e6e4;
	--light: #e4e6e4;
	--dark: #1f1f1f;
	--primary: #1f1f1f;
	--accent: #2ebdff;
	--secondary: #747474;
	--additional: #1f1f1f;
	--bg-pattern: url('../../public/decorations/bg-pattern-light.png');
}

.dark {
	--bg: #1f1f1f;
	--light: #e4e6e4;
	--dark: #1f1f1f;
	--primary: #e4e6e4;
	--secondary: #747474;
	--accent: #00ffe5;
	--additional: #555555;
	--bg-pattern: url('../../public/decorations/bg-pattern-dark.png');
}

@theme inline {
	--color-bg: var(--bg);
	--color-dark: var(--dark);
	--color-light: var(--light);
	--color-primary: var(--primary);
	--color-accent: var(--accent);
	--color-secondary: var(--secondary);
	--color-additional: var(--additional);
	--font-text: var(--font-tektur);
	--bg-pattern: var(--bg-pattern);

	--breakpoint-4xl: 240rem; /* 3840 px */
	--breakpoint-2xl: 120rem; /* 1920 px */
	--breakpoint-xl: 90rem; /* 1440 px */
	--breakpoint-lg: 64rem; /* 1024 px */
	--breakpoint-md: 50rem; /* 748 px */
	--breakpoint-s: 30rem; /* 480 px */
	--breakpoint-xs: 25rem; /* 400 px */
	--breakpoint-xxs: 24rem; /* 384 px */

	/* bg animation */
	--animate-round-big: round-big 10s ease-in-out infinite;
	@keyframes round-big {
		0% {
			width: 40rem;
			height: 40rem;
		}
		50% {
			width: 45rem;
			height: 45rem;
		}
		100% {
			width: 40rem;
			height: 40rem;
		}
	}

	--animate-round-small: round-small 10s ease-in-out infinite;
	@keyframes round-small {
		0% {
			width: 40rem;
			height: 40rem;
		}
		50% {
			width: 44rem;
			height: 44rem;
		}
		100% {
			width: 40rem;
			height: 40rem;
		}
	}

	--animate-line-first: line-first 10s ease-in-out infinite;
	@keyframes line-first {
		0% {
			right: -40rem;
			bottom: 0rem;
			width: 50rem;
		}
		50% {
			right: -32rem;
			bottom: 0rem;
			width: 60rem;
		}
		100% {
			right: -40rem;
			bottom: 0rem;
			width: 50rem;
		}
	}

	--animate-line-second: line-second 7s ease-in-out infinite;
	@keyframes line-second {
		0% {
			right: -50rem;
			bottom: 0rem;
			width: 90rem;
		}
		50% {
			right: -44rem;
			bottom: 7.5rem;
			width: 93rem;
		}
		100% {
			right: -50rem;
			bottom: 0rem;
			width: 90rem;
		}
	}

	--animate-line-third: line-third 10s ease-in-out infinite;
	@keyframes line-third {
		0% {
			right: -22rem;
			bottom: 0rem;
			width: 50rem;
		}
		50% {
			right: -38rem;
			bottom: 0rem;
			width: 60rem;
		}
		100% {
			right: -22rem;
			bottom: 0rem;
			width: 50rem;
		}
	}

	/* hero screen image effect */
	--animate-interference: interference 10s ease-in-out infinite;
	@keyframes interference {
		to {
			transform-origin: 0 100%;
			transform: scale(1.15);
		}
	}

	--animate-glitch: glitch 3s linear infinite;
	@keyframes glitch {
		2%,
		64% {
			transform: translate(2px, 0) skew(0deg);
			opacity: 0.9;
		}
		4%,
		60% {
			transform: translate(-2px, 0) skew(0deg);
			opacity: 1;
		}
		62% {
			transform: translate(0, 0) skew(3deg);
			opacity: 0.7;
		}
	}
}

/* Bg dots */
@layer utilities {
	.bg-pattern {
		background-image: var(--bg-pattern);
	}
}

body {
	background: var(--bg);
	color: var(--text);
	background-image: var(--bg-pattern);
}

a,
button {
	cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* Swiper slider */
.swiper {
	width: 100%;
	height: 100%;
}

@media (max-width: 799px) {
	.swiper-wrapper {
		padding-bottom: 3rem !important;
	}
}

@media (min-width: 799px) {
  .swiper-pagination {
    display: none !important;
  }
}

.swiper-slide {
	text-align: left;
	font-size: 18px;
	background: #444;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-pagination-bullet {
  background: var(--primary) !important;
}

.swiper-pagination-bullet-active {
  background: var(--accent) !important;
}


