@import 'tailwindcss';

:root {
	--bg: #e4e6e4;
	--primary: #1f1f1f;
	--accent: #009dff;
	--bg-pattern: url('../../public/decorations/bg-pattern-light.png');
}

@theme inline {
	--color-bg: var(--bg);
	--color-primary: var(--primary);
	--font-text: var(--font-tektur);
	--color-accent: var(--accent);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--bg: #1f1f1f;
		--text: #e4e6e4;
	}
} */

body {
	background: var(--bg);
	color: var(--primary);
	background-image: var(--bg-pattern);
}

a,
button {
	cursor: pointer;
}
